/**PALET COLORS__________________________*/
/**SHADOWS -----__________________________*/
/**INDEX POSITIONS________________________*/
/*FONT COLORS-----------------------------*/
@font-face {
  font-family: "TituSemiBold";
  src: url("../fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "TituBold";
  src: url("../fonts/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TituRegular";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TituLight";
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype");
}

.img_cim {
  background-image: url(../images/cim.svg);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.img_cdm {
  background-image: url(../images/cdm.svg);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

#content_c {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1.5s;
}

#carrusel {
  position: absolute;
  width: 50%;
  top: 0px;
  height: 100%;
  left: 0px;
  transition: 1.5s;
}

.carrusel1 {
  background: linear-gradient(270deg, rgba(102, 0, 254, 0.3197654062) 0%, rgba(50, 9, 255, 0.4878326331) 50%, rgb(0, 86, 255) 100%);
  box-shadow: 0 3px 66px 10px rgba(169, 0, 255, 0.41);
}

.carrusel2 {
  background: linear-gradient(90deg, rgba(102, 0, 254, 0.3197654062) 0%, rgba(50, 9, 255, 0.4878326331) 50%, rgb(0, 86, 255) 100%);
  box-shadow: 0 3px 66px 10px rgba(0, 31, 255, 0.41);
}

.icon_background1 {
  background-image: url(../images/ncr.png);
  position: absolute;
  top: 0px;
  width: 200px;
  height: 100px;
  z-index: 100;
  transition: 1.5s;
  background-repeat: no-repeat;
  right: 30px;
}

.icon_background2 {
  background-image: url(../images/ncr.png);
  position: absolute;
  top: 0px;
  width: 200px;
  height: 100px;
  z-index: 100;
  transition: 1.5s;
  background-repeat: no-repeat;
  left: 30px;
}

.background1 {
  background-image: url(../images/background1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background2 {
  background-image: url(../images/background2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#footer_carrusel {
  width: 100%;
  padding-bottom: 30px;
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 0px;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgb(245, 245, 245);
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 8%, rgb(2, 0, 36) 41%, rgb(0, 0, 0) 67%);
  align-content: center;
  flex-direction: column;
  animation: opacity 2s forwards;
}

body {
  margin: 0;
  font-family: TituRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body,
body:focus {
  outline: none;
  cursor: none;
  -webkit-user-select: none;
}

.contentAtm {
  position: absolute;
  width: 100%;
  height: 100%;
}

#app {
  position: absolute;
  background: var(--ColorBackground);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#MainMenu {
  padding: 15px;
}

#card {
  width: 18rem;
  height: 21rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  animation: blur 0.5s forwards;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#card .title {
  padding: 1rem;
  text-align: center;
  margin: 0px;
}

#card:active,
#chip:active {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 2px;
  color: rgba(255, 0, 0, 0.582);
}

svg:active {
  transition: 0.5s;
  fill: red;
}

#options {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  height: 35rem;
}

#dashboard_development {
  z-index: 100;
  position: absolute;
  z-index: 100;
  height: auto;
  width: 262px;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  font-size: 0.8rem;
}

#dashboard_development div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#dashboard_development>p {
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 15%;
  z-index: 3;
}

header .titleHeader {
  position: absolute;
  width: 70%;
  left: 0px;
  font-size: 35px;
  animation: slide_right 0.2s forwards;
  font-family: TituBold;
  width: 70%;
  display: flex;
  justify-content: center;
}

header #content_options_header {
  position: absolute;
  right: 0px;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

header .close_boton {
  border: none;
  background: transparent;
  border-radius: 10px;
  font-size: 4vh;
  font-family: "TituBold";
  color: red;
  padding: 20px;
  width: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  min-width: 6rem;
  right: 15px;
  animation: opacity 2s forwards;
}

header .close_boton:active {
  transition: 0.5s;
  color: white;
  text-shadow: 1px 2px black;
}

footer {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0px;
  z-index: 3;
}

footer #navigates {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

footer #navigates button {
  width: 12rem;
  margin: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: blur 1s forwards;
  background: white;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer #navigates button:nth-child(n) {
  background: red;
}

footer #navigates button:nth-child(n):active {
  transition: 1.5s;
  background: white;
  color: black;
}

footer #navigates button:nth-child(2n) {
  background: green;
}

footer #navigates button:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 2px;
  transition: 0.5s;
}

#content-cardStep #chip-content {
  margin-top: 3rem;
  width: 91%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content-cardStep #chip {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 18rem;
  height: 3rem;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  /* margin-left: 3rem; */
  /* margin-right: 3rem; */
  animation: blur 0.5s forwards;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#content-cardStep #chip p {
  margin-left: 15px;
}

main {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-size: 35px;
  top: 15%;
}

main .card-content {
  margin-bottom: 2rem;
  width: 91%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main #chip-content {
  margin-top: 3rem;
  width: 91%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .chip-content-input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
  float: bottom;
  padding-bottom: 3rem;
}

main #chip {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 18rem;
  height: 3rem;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  /* margin-left: 3rem; */
  /* margin-right: 3rem; */
  animation: blur 0.5s forwards;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

main #chip p {
  margin-left: 15px;
}

main #chipInput {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 16rem;
  height: 2rem;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 3rem;
  margin-right: 3rem;
  animation: blur 0.5s forwards;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.chip-content-input {
  position: absolute;
  /* border: 1px solid; */
  /* left: 0px; */
  top: 72%;
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 4;
  float: bottom;
  /* padding-bottom: 3rem; */
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

#chipInput {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 10rem;
  height: 3rem;
  text-align: center;
  border-radius: 35px;
  border: 1px solid rgba(103, 102, 102, 0.3607843137);
  font-size: 27px;
  animation: blur 0.5s forwards;
  z-index: 3;
}

#bar {
  height: 15px;
  border-radius: 5px 5px 5px 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: widthProgress 4s infinite forwards;
}

#content_bar {
  height: 15px;
  background-color: rgba(128, 128, 128, 0.582);
  width: 90%;
  border-radius: 15px;
}

#bar_context {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  height: 100%;
}

#bar_parameter {
  height: 15px;
  border-radius: 5px 5px 5px 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: var(--direction) var(--timeout) linear;
}

.bar-conteiner {
  display: flex;
  width: 50%;
  height: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

#loading {
  background: white;
  background: radial-gradient(circle, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 80%, rgb(190, 191, 191) 100%);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.title_middle {
  animation: opacity 1.7s forwards;
  font-size: 30px;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacityNegative {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes widthProgress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes widthProgressNegative {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes blur {
  0% {
    filter: blur(300px);
  }

  100% {
    filter: blur(0);
  }
}

@keyframes slide_left {
  0% {
    opacity: 0;
    transform: translate(-500px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slide_right {
  0% {
    transform: translate(500px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.modalTimeoutConteiner {
  box-shadow: inset 0px 0px 600px 50px rgba(0, 0, 0, 0.831372549);
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgba(9, 9, 121, 0.29);
  position: absolute;
  z-index: 100;
}

.timeoutConteiner {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
}

#timeout {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
}

#timeoutModal {
  position: absolute;
  top: 25%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
}

.modalTimeout {
  animation: blur 1s forwards;
  width: 40rem;
  height: 25rem;
  border-radius: 25px;
}

.modalTimeout main {
  height: 60%;
}

.modalTimeout main p {
  font-size: 25px;
  font-family: TituRegular;
  text-align: center;
}

.modalTimeout footer {
  height: 15%;
}

.modalTimeout footer #navigates {
  display: flex;
}

.modalTimeout footer #navigates button {
  height: 3rem;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
}

.modalTimeout header {
  height: 15%;
  animation: blur 2s forwards;
}

.modalTimeout .watch {
  background-image: url(../images/watch.webp);
  height: 8rem;
  width: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.normalTimeout {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.normalTimeout main {
  height: 60%;
}

.normalTimeout main p {
  font-size: 25px;
  font-family: TituRegular;
  text-align: center;
}

.normalTimeout footer {
  height: 15%;
}

.normalTimeout footer #navigates {
  display: flex;
}

.normalTimeout footer #navigates button {
  height: 4rem;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
}

.normalTimeout header {
  height: 15%;
  animation: blur 2s forwards;
}

.normalTimeout .watch {
  background-image: url(../images/watch.webp);
  height: 8rem;
  width: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8rem;
}

.normalTimeout #bar_context {
  height: auto;
}

/*_________________________________________________________________*/
.c_inputA {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-family: TituRegular;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.input_content {
  width: 100%;
  text-align: center;
  font-size: 5rem;
}

.monto,
#inputUser {
  border-radius: 10px;
  width: 300px;
  font-size: 5rem;
  border: none;
  margin-left: 20px;
  height: 90px;
  width: 400px;
  text-align: right;
  padding-right: 52px;
  margin-top: 20px;
  text-align: center;
  color: #676666;
  background: transparent;
  /* box-shadow: inset 0px 3px 15px -3px grey;*/
}

#inputUser:focus {
  border: none;
}

#navIn {
  z-index: 4;
}

#advertencia_montos {
  text-align: center;
  height: 90px;
  margin-top: 1rem;
  color: red;
  width: 100%;
  font-size: 32px;
  animation: blur_adv 0.75s ease-out 1;
}

#advertencia_montos>p {
  position: absolute;
  margin-top: 2rem;
  color: black;
  font-size: 28px;
  width: 100%;
  animation: blur_adv 0.75s ease-out 1;
}

#advertencia_montos>span {
  position: absolute;
  left: 0px;
  color: black;
  font-size: 28px;
  width: 100%;
  animation: blur_adv 0.75s ease-out 1;
}

#balance {
  position: absolute;
  top: 20%;
  width: 100%;
  display: flex;
  height: 5rem;
  font-size: 30px;
  color: rgba(128, 128, 128, 0.631372549);
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.confirmButtonInput {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 3rem;
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: blur 1s forwards;
  background: green;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 4;
}

#accountContent {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 65%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#accountCardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#accountCard {
  width: auto;
  margin-left: 3rem;
  min-width: 65%;
  padding: 8px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
  animation: slide_right 0.2s forwards;
}

#detailCard {
  width: 25%;
}

#detailBalance {
  width: 60%;
}

.accountCard_type {
  width: 15%;
  font-size: 5vh;
  color: red;
  font-family: "TituBold";
  border-right: 2px solid;
  margin-right: 10px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.accountCard_balance {
  text-align: right;
  color: grey;
  font-size: 4vh;
}

#switch_lenguage button {
  background: transparent;
  width: 10rem;
  border: none;
  border-radius: 20px;
  height: 5rem;
  font-family: TituBold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: #5c5b5b;
}

#switch_lenguage button:active {
  transition: 0.5s;
  color: red;
}

#nav_lenguage {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1000rem;
  transition: 1.2s;
  z-index: 50;
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(112, 108, 131, 0.4878326331) 50%, rgb(0, 0, 0) 100%);
  animation: slide_left 0.2s forwards;
}

.lenguage_options {
  position: absolute;
  left: 0px;
  top: 9rem;
  width: 20rem;
  height: 30rem;
  z-index: 51;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0px 100% 100% 0px;
  animation: slide_left 1.2s forwards;
}

.lenguage_options button {
  background: white;
  width: 10rem;
  border: none;
  border-radius: 20px;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: TituBold;
  font-size: 15px;
}

.lenguage_options button:active {
  transition: 0.5s;
  color: red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 2px;
}

#content-cardStep {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#navs_cards {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#navs_cards button {
  width: 12rem;
  margin: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: blur 1s forwards;
  background: white;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#navs_cards button:nth-child(n) {
  background: red;
}

#navs_cards button:nth-child(n):active {
  transition: 1.5s;
  background: white;
  color: black;
}

#navs_cards button:nth-child(2n) {
  background: green;
}

#navs_cards button:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 2px;
  transition: 0.5s;
}

.modalMessageConteiner {
  box-shadow: inset 0px 0px 600px 50px rgba(0, 0, 0, 0.831372549);
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgba(9, 9, 121, 0.29);
  position: absolute;
  z-index: 100;
}

.messageConteiner {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
}

#message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
}

#messageModal {
  position: absolute;
  top: 25%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
}

.modalMessage {
  animation: blur 1s forwards;
  width: 40rem;
  height: 25rem;
  border-radius: 25px;
}

.modalMessage #navs_cards {
  margin-bottom: 1rem;
}

.modalMessage svg {
  width: 8rem;
  height: 8rem;
}

.modalMessage main {
  height: 60%;
}

.modalMessage main p {
  font-size: 25px;
  font-family: TituRegular;
  text-align: center;
}

.modalMessage footer {
  height: 15%;
}

.modalMessage footer #navigates {
  display: flex;
}

.modalMessage footer #navigates button {
  height: 3rem;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
}

.modalMessage header {
  height: 15%;
  animation: blur 2s forwards;
}

.modalMessage .watch {
  background-image: url(../images/watch.webp);
  height: 8rem;
  width: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.normalMessage {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.normalMessage main {
  height: 60%;
}

.normalMessage main p {
  font-size: 25px;
  font-family: TituRegular;
  text-align: center;
}

.normalMessage footer {
  height: 15%;
}

.normalMessage footer #navigates {
  display: flex;
}

.normalMessage footer #navigates button {
  height: 4rem;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
}

.normalMessage header {
  height: 15%;
  animation: blur 2s forwards;
}

.normalMessage .watch {
  background-image: url(../images/watch.webp);
  height: 8rem;
  width: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8rem;
}

.normalMessage #bar_context {
  height: auto;
}

#switch_options button {
  background: transparent;
  /* width: 10rem; */
  border: none;
  /* border-radius: 20px; */
  /* height: 5rem; */
  font-family: TituBold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: #5c5b5b;
  padding: 0px;
  margin: 0px;
}

#switch_options button:active {
  transition: 0.5s;
  color: red;
}

#nav_options {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1000rem;
  transition: 1.2s;
  z-index: 50;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(112, 108, 131, 0.4878326331) 50%, rgb(0, 0, 0) 100%);
  animation: slide_right 0.2s forwards;
}

.options {
  position: absolute;
  right: 0px;
  top: 9rem;
  width: 20rem;
  height: 30rem;
  z-index: 51;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100% 0% 0% 100%;
  animation: slide_right 1.2s forwards;
}

.options button {
  background: white;
  width: 10rem;
  border: none;
  border-radius: 20px;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: TituBold;
  font-size: 15px;
}

.options button:active {
  transition: 0.5s;
  color: red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 2px;
}

/*# sourceMappingURL=AppClient.css.map */