@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes opacityNegative {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes widthProgress {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

@keyframes widthProgressNegative {
	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}

@keyframes blur {
	0% {
		filter: blur(300px);
	}

	100% {
		filter: blur(0);
	}
}

@keyframes slide_left {
	0% {
		opacity: 0;
		transform: translate(-500px, 0px);
	}

	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes slide_right {
	0% {
		transform: translate(500px, 0px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}
