@font-face {
	font-family: 'PoklemonHollow';
	src: local('Digital'), url(../fonts/Pokemon-Hollow.ttf) format('opentype');
}

@font-face {
	font-family: 'PoklemonSolid';
	src: local('Digital'), url(../fonts/Pokemon-Solid.ttf) format('opentype');
}
