.modalMessageConteiner {
	box-shadow: $shadowInset;
	width: 100%;
	display: flex;
	height: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	background: $blueShadowColor;
	position: absolute;
	z-index: $index_front_all;
}

.messageConteiner {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
}

#message {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: $background;
	z-index: $index_front_all;
}

#messageModal {
	position: absolute;
	top: 25%;
	background-color: $background;
	box-shadow: $shadow;
	z-index: $index_front_all;
}

.modalMessage {
	animation: blur 1s forwards;
	width: 40rem;
	height: 25rem;
	border-radius: 25px;

	#navs_cards {
		margin-bottom: 1rem;
	}

	svg {
		width: 8rem;
		height: 8rem;
	}
	main {
		height: 60%;
		p {
			font-size: 25px;
			font-family: TituRegular;
			text-align: center;
		}
	}
	footer {
		height: 15%;
		#navigates {
			display: flex;
			button {
				height: 3rem;
				margin: 0;
				margin-left: 1rem;
				margin-right: 1rem;
				border-radius: 25px;
			}
		}
	}
	header {
		height: 15%;
		animation: blur 2s forwards;
	}

	.watch {
		background-image: url(../images/watch.webp);
		height: 8rem;
		width: 5rem;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 1rem;
	}
}

.normalMessage {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	main {
		height: 60%;
		p {
			font-size: 25px;
			font-family: TituRegular;
			text-align: center;
		}
	}
	footer {
		height: 15%;
		#navigates {
			display: flex;
			button {
				height: 4rem;
				margin: 0;
				margin-left: 1rem;
				margin-right: 1rem;
				border-radius: 25px;
			}
		}
	}
	header {
		height: 15%;
		animation: blur 2s forwards;
	}

	.watch {
		background-image: url(../images/watch.webp);
		height: 8rem;
		width: 8rem;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 8rem;
	}

	#bar_context {
		height: auto;
	}
}
